/* GLOBALS */
* {
	font-family: "Tw Cen MT"; /* The Holy Grail */
}

body {
	width: 100%;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
	/* background-color: #5f4b4b; */
	background-color: #000;
}

/* HEADER */
header.LogoContainer {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	/* Inherits global margin and padding properties */
	height: 8%;
	color: #000;
	background-color: transparent;
	border-bottom: #3A3A3A 1.5px solid;
}

header.LogoContainer > h1.LogoMain {
	margin-top: 23px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	color: #FFF;
	font-size: 30px;
	font-weight: bold;
	text-decoration-line: line-through;
	animation: AnimLogoMain 7s infinite;
}

header.LogoContainer > div.NavBarContainer {
	position: relative;
	top: -34%;
	left: 65%;
	display: flex;
}

header.LogoContainer > div.NavBarContainer > div {
	margin-right: 65px;
}

header.LogoContainer > div.NavBarContainer > div > a {
	color: #FFF;
	font-size: 16px;
	text-decoration: none;
	transition: .5s ease-in;
}

header.LogoContainer > div.NavBarContainer > div > a:hover {
	color: #3A3A3A;
	font-size: 16px;
	transition: .5s ease-out;
}

header.LogoContainer > div.NavBarContainer > div > a:active {
	color: #000;
}

header.LogoContainer > div.NavBarContainer > div.NavItemFour > a {
	color: #222;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	transition: .5s ease-in;
}

header.LogoContainer > div.NavBarContainer > div.NavItemFour > a:hover {
	color: #3A3A3A;
	font-size: 16px;
	text-decoration-line: line-through;
	transition: .5s ease-in;
}

/* SECTION */
section.MainMenuContainer {
	margin: 0;
}

/* FOOTER */
footer {
	margin: 0;
}

footer > p {
	font-weight: bold;
}

/* ANIMATIONS */
@keyframes AnimLogoMain {
	0% {
		color: #FFF;
	}
	50% {
		color: #3A3A3A;
	}
	100% {
		color: #FFF;
	}
}
